layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="zellij:compact-bar"
        }
    }
    tab name="claude x4" {
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane command="sbg" { args "matrix" "--" "claude"; }
                pane command="sbg" { args "waves" "--" "claude"; }
            }
            pane split_direction="horizontal" {
                pane command="sbg" { args "--script" "~/.config/sbg/fx/pulse.lua" "--" "claude"; }
                pane command="sbg" { args "stars" "--" "claude"; }
            }
        }
    }
}
